{% load staticfiles %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

        <meta name="description" content="">
        <meta name="author" content="">

        <title>Earthquake Relief Fund for Nepal</title>
    
        <script src="{% static "js/jquery/jquery.min.js" %}"></script>
        <link href="{% static "css/materialize.min.css" %}" type="text/css" rel="stylesheet">

        {% block head %} {% endblock %}
    </head>

    <body>
        <div class="container">
        <h1 class="header center green-text">Relief-Funds</h1>
        <h5 class="center"> for Nepal Earthquake 2015 </h5>
        </div>
        <br/>
        <div class="container">
            <div class="row">
                <div class="col s12">
                    {% block body %}{% endblock %}
                </div>
            </div>

        <footer class="page-footer">
        <div class="container">
            <p class="white-text">Footer</p>
            <p><a class="yellow-text" href="#">Back to top</a></p>
        </div>
        </footer>
        
        {% block footer %}{% endblock %}
    
    </body>
</html>

