{% extends 'base.html' %}

{% block body %}
<form method="POST" action="{% url 'mainapp:fund' %}">
    {% csrf_token %}
        <div id="provider">
            <h6>PROVIDER</h6>
            <input id="provider_name" type="text" placeholder="name" name="provider_name" required>
            <input id="provider_phone" type="number" placeholder="phone" name="provider_phone" required>
        </div>

        <div id="place">
            <h6>PLACE</h6>
            <input id="place_name" type="text" placeholder="name" name="place" required>
            <input id="place_district" type="text" placeholder="district" name="district" required>
            <input id="lat" type="number" step="0.00000000001" placeholder="latitude" name="latitude" required>
            <input id="lng" type="number" step="0.00000000001" placeholder="longitude" name="longitude" required>
        </div>

        <div id="item">
            <h6>ITEM</h5>
        </div>

        <button id="submit" class="btn-floating btn-small" type="submit">
    </form>
{% endblock %}

{% block footer %}
    <script>
        $('#submit').on('click', function()
        {
        });
    </script>
{% endblock %}

