{% extends 'base.html' %}

{% block body %}
{% if fund %}
<form method="POST" action="{% url 'mainapp:fund' fund_id=fund.id %}">
{% else %}
<form method="POST" action="{% url 'mainapp:fund' %}">
{% endif %}
    {% csrf_token %}

        <div id="place" class="card-panel">
            <div class="row">
                <div class="col s12">
                    <h6>PLACE</h6>
                </div>
            </div><div class="row">
                <div class="input-field col s12">
                    <i class="mdi-maps-navigation prefix"></i>
                    <label for="place_name" class="active">Name</label>
                    <input placeholder="Name" id="place_name" type="text" name="place"
                    value = "{% if place %}{{ place }}{% elif fund %}{{ fund.place }}{% endif %}"
                    required>
                </div>
            </div><div class="row">
                <div class="input-field col s12">
                    <i class="mdi-maps-navigation prefix"></i>
                    <label for="place_district" class="active">District</label>
                    <input placeholder="District" id="place_district" type="text" name="district"
                    value = "{% if fund %}{{ fund.place.district }}{% endif %}"
                    required>
                </div>
            </div><div class="row">
                <div class="input-field col s12">
                    <i class="mdi-maps-navigation prefix"></i>
                    <label for="lat" class="active">Latitude</label>
                    <input id="lat" type="number" step="0.00000000001" placeholder="Latitude" name="latitude" 
                        value = {% if lat %} {{ lat }}
                                {% elif fund %} {{ fund.place.latitude }}
                                {% endif %}
                    required>
                </div>
            </div><div class="row">
                <div class="input-field col s12">
                    <i class="mdi-maps-navigation prefix"></i>
                    <label for="lng" class="active">Longitude</label>
                    <input id="lng" type="number" step="0.00000000001" placeholder="Longitude" name="longitude" 
                        value = {% if lon %} {{ lon }}
                                {% elif fund %} {{ fund.place.longitude }}
                                {% endif %}
                    required>
                </div>
            </div>
        </div>

        <div id="items" class="card-panel">
            <div class="row">
                <div class="col s12">
                    <h6>ITEMS</h6>
                </div>
            </div>
            {% for itemtype in itemtypes %}
                <div class="row">
                    <div class="input-field col s2 m1">
                        <input id="{{forloop.counter0}}" type="checkbox" name="{{itemtype}}" value="true" />
                        <label for="{{forloop.counter0}}"></label>
                    </div>
                    <div class="input-field col s10 m11">
                        <label class="active">{{ itemtype }}</label>
                        <input placeholder="Remarks" type="text" name="{{itemtype}}_remarks"
                            value = "{% for item in items %}{% if item.type.name == itemtype.name %}{{ item.remarks }}{% endif %}{% endfor %}"
                        />
                    </div>
                </div>
            {% endfor %}
        </div>

        <div id="state" class="card-panel">
            <div class="row">
                <div class="col s12">
                    <h6>Fund State</h6>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <select class="browser-default" name="fundstate" onchange="stateChanged()">
                        <option value="0">Provided</option>
                        <option value="1" selected="selected">Needed</option>
                        <option value="2">Urgently Needed</option>
                    </select>
                </div>
            </div>
        </div>
        <table>

        <div id="provider" class="card-panel">
            <div class="row">
                <div class="col s12">
                    <h6>PROVIDER</h6>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="mdi-action-account-circle prefix"></i>
                    <label for="provider_name" class="active">Name</label>
                    <input placeholder="Name" id="provider_name" type="text" name="provider_name" 
                        value="{% if fund and fund.provider %}{{ fund.provider.name }}{% endif %}"
                    >
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="mdi-communication-phone prefix"></i>
                    <label for="provider_phone" class="active">Phone</label>
                    <input placeholder="Phone" id="provider_phone" type="number" name="provider_phone" min="0" 
                        value = {% if fund and fund.provider %}{{ fund.provider.phone }}{% endif %}
                    >
                </div>
            </div>

        <button class="btn waves-effect waves-light" type="submit" name="action">
            <i class="mdi-content-add"></i>
            Submit
        </button>
        </td>
        </tr>
        </table>
    </form>
{% endblock %}

{% block footer %}
    <script>
        function stateChanged() {
            if (document.forms[0].fundstate.value == 0) {
                document.getElementById("provider").style.display= "block"
                document.forms[0].provider_name.required = true;
                document.forms[0].provider_phone.required = true;
            } else {
                document.getElementById("provider").style.display= "none";
                document.forms[0].provider_name.required = false;
                document.forms[0].provider_phone.required = false;
            }
        }
        stateChanged();
    </script>
{% endblock %}

