{% extends 'base.html' %}

{% block body %}
<form method="POST" action="{% url 'mainapp:fund' %}">
    {% csrf_token %}

        <div id="provider" class="card-panel">
            <div class="row">
                <div class="col s12">
                    <h6>PROVIDER</h6>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="mdi-action-account-circle prefix"></i>
                    <label for="provider_name" class="active">Name</label>
                    <input placeholder="Name" id="provider_name" type="text" name="provider_name" required>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="mdi-communication-phone prefix"></i>
                    <label for="provider_phone" class="active">Phone</label>
                    <input placeholder="Phone" id="provider_phone" type="number" name="provider_phone" min="0" required>
                </div>
            </div>
        </div>

        <div id="place" class="card-panel">
            <div class="row">
                <div class="col s12">
                    <h6>PLACE</h6>
                </div>
            </div><div class="row">
                <div class="input-field col s12">
                    <i class="mdi-maps-navigation prefix"></i>
                    <label for="place_name" class="active">Name</label>
                    <input placeholder="Name" id="place_name" type="text" name="place" required>
                </div>
            </div><div class="row">
                <div class="input-field col s12">
                    <i class="mdi-maps-navigation prefix"></i>
                    <label for="place_district" class="active">District</label>
                    <input placeholder="District" id="place_district" type="text" name="district" required>
                </div>
            </div><div class="row">
                <div class="input-field col s12">
                    <i class="mdi-maps-navigation prefix"></i>
                    <label for="lat" class="active">Latitude</label>
                    <input id="lat" type="number" step="0.00000000001" placeholder="Latitude" name="latitude" required>
                </div>
            </div><div class="row">
                <div class="input-field col s12">
                    <i class="mdi-maps-navigation prefix"></i>
                    <label for="lng" class="active">Longitude</label>
                    <input id="lng" type="number" step="0.00000000001" placeholder="Longitude" name="longitude" required>
                </div>
            </div>
        </div>

        <div id="items" class="card-panel">
            <div class="row">
                <div class="col s12">
                    <h6>ITEMS</h6>
                </div>
            </div>
            {% for itemtype in itemtypes %}
                <div class="row">
                    <div class="input-field col s12">
                        <i class="mdi-image-healing prefix"></i>
                        <label class="active">{{ itemtype }}</label>
                        <input type="number" name="{{itemtype}}_amount" value="0" min="0" required>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div id="state" class="card-panel">
            <div class="row">
                <div class="col s12">
                    <h6>Fund State</h6>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <select class="browser-default" name="fundstate">
                        <option value="0">PROVIDED</option>
                        <option value="1">NEEDED</option>
                        <option value="2">URGENTLY_NEEDED</option>
                    </select>
                </div>
            </div>
        </div>

        <button class="btn waves-effect waves-light" type="submit" name="action">
            <i class="mdi-content-add"></i>
            Submit
        </button>
    </form>
{% endblock %}

{% block footer %}
    <script>
    </script>
{% endblock %}

