{% extends 'base.html' %}
{% load staticfiles %}

{% block body %}
    <div id="map" style="width:100%; height:70%;"> </div>
    <br/>
    <div id="newMarker" style="visibility: hidden;">
    <button class="btn waves-effect waves-light" type="submit" name="action">New Fund
    <i class="mdi-content-add"></i>
    </button>
    at <b id="markerinfo"></b>
    </div>

    <div id="details" style="width:100%"></div>
{% endblock %}

{% block footer %}
    <script src="http://maps.googleapis.com/maps/api/js"></script>
    <script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/src/markerclusterer.js"></script>
    <script>
        function displayInfo(fund, place) {
            var info = "<h5>" + place.name + "</h5>";
            info += "<p>";
            if (fund.provider != "")
                info += "Provided by: " + fund.provider + "<br/>";
            info += "<b> State: ";
            if (fund.state == 0)
                info += "Provided";
            else if (fund.state == 1)
                info += "Needed";
            else if (fund.state == 2)
                info += "Urgently Needed";
            info += "</b><br/><br/>";
            for (var item of fund.items) {
                if (item.amount > 0)
                    info += item.type + ": " + item.amount + "<br/>";
            }
            info += "</p>";
            document.getElementById("details").innerHTML = info;
        }
        function createMarker(map, fund, place) {
            color = "yellow";
            if (fund.state == 1) color = "green";
            else if (fund.state == 2) color = "red";
            var marker = new google.maps.Marker({
                position:new google.maps.LatLng(place.latitude, place.longitude),
                icon:"{% static 'images' %}/" + color + ".png",
            });
            
            var info = "<b>" + place.name + "</b>";
            var infoWindow = new google.maps.InfoWindow({
                content: info
            });
            google.maps.event.addListener(marker, 'mouseover', function() {
                infoWindow.open(map, this);
            });

            google.maps.event.addListener(marker, 'mouseout', function() {
                infoWindow.close();
            });

            google.maps.event.addListener(marker, 'click', function() {
                displayInfo(fund, place);
            });
            return marker;
        }
        
        var geocoder;
        function NewMarker(location) {
            nm = document.getElementById("newMarker");
            nm.style.visibility = "visible";

            mi = document.getElementById("markerinfo");
            mi.innerHTML = location.toString();
            
            geocoder.geocode({'latLng': location}, function(results, status) {
                if (status == google.maps.GeocoderStatus.OK)
                    if (results[1])
                        mi.innerHTML +=  ": " + results[0]["address_components"][1]["long_name"];
            });
        }

        function initialize() {
            var mapProperties = {
                center: new google.maps.LatLng(27.7, 85.33),
                zoom:10,
                mapTypeId:google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(document.getElementById("map"), mapProperties);
            geocoder = new google.maps.Geocoder();

            var newMarker;
            google.maps.event.addListener(map, 'click', function(event){
                loc = event.latLng;
                if (newMarker == null)
                    newMarker = new google.maps.Marker({
                        position: loc,
                        map: map
                    });
                else
                    newMarker.setPosition(loc);
                NewMarker(loc);
            });

            places = [
                {% for place in places %}
                {% if place.fund_set.count > 0 %}
                    {
                        name:"{{ place.name }}", 
                        latitude:{{ place.latitude }}, longitude:{{ place.longitude }},
                        funds: [
                            {% for fund in place.fund_set.all %}
                            {
                                provider: "{{fund.provider.name}}",
                                state: {{fund.state}},
                                items: [
                                {% for item in fund.item_set.all %}
                                    { type: "{{item.type.name}}", amount: {{item.amount}} }{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                                ]
                            }{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        ]
                    }{% if not forloop.last %}, {% endif %}
                {% endif %}
                {% endfor %}
            ];
            
            for (var place of places) {
                markers = []
                for (var fund of place.funds) {
                    markers.push(createMarker(map, fund, place));
                }
                var mc = new MarkerClusterer(map, markers);
            }
        }
    
        google.maps.event.addDomListener(window, 'load', initialize);
    
    </script>
{% endblock %}
